// ----- Couleurs de l'application -----
$primary-light-green: rgba(244, 248, 239, 1);
$primary-medium-green: rgba(214, 224, 211, 1);
$primary-dark-green: rgba(60, 74, 65, 1);
$primary-light-purple: rgba(226, 212, 254, 1);
$secondary-medium-purple: rgba(148, 107, 182, 1);